

// 深橘色（陰影用）
$color1: #ff8000 !default;

@keyframes fadeOut {
    0% {
        z-index: 999;
        opacity: 1;
    }

    99.99% {
        z-index: 999;
    }

    100% {
        z-index: 0;
        opacity: 0;
    }
}